.vs/
obj/
Publish/
*.v2
.vs/RestoreLastSupriseMod/v17/.suo
.vs/RestoreLastSupriseMod/v16/.suo
.vs/RestoreLastSupriseMod/FileContentIndex/read.lock
.vs/RestoreLastSupriseMod/FileContentIndex/dd7c5038-c834-4e0f-a941-242d55472a80.vsidx
.vs/RestoreLastSupriseMod/FileContentIndex/8bf2f50f-6249-40e9-8a1b-17a30ef1ec8c.vsidx
.vs/RestoreLastSupriseMod/FileContentIndex/7c75de2e-186f-419a-9169-2367d176174a.vsidx
.vs/RestoreLastSupriseMod/FileContentIndex/0c10ce8b-f5fb-445e-b1af-7522fe43132f.vsidx
.vs/RestoreLastSupriseMod/config/applicationhost.config
.vs/ProjectEvaluation/restorelastsuprisemod.projects.v5.2
.vs/ProjectEvaluation/restorelastsuprisemod.metadata.v5.2
obj/Debug/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/RestoreLastSupriseMod.AssemblyInfo.cs
obj/Debug/RestoreLastSupriseMod.AssemblyInfoInputs.cache
obj/Debug/RestoreLastSupriseMod.assets.cache
obj/Debug/RestoreLastSupriseMod.csproj.AssemblyReference.cache
obj/Debug/RestoreLastSupriseMod.csproj.BuildWithSkipAnalyzers
obj/Debug/RestoreLastSupriseMod.csproj.FileListAbsolute.txt
obj/Debug/RestoreLastSupriseMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/RestoreLastSupriseMod.GlobalUsings.g.cs
obj/project.assets.json
obj/project.nuget.cache
obj/Release/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Release/PublishOutputs.5715d504e5.txt
obj/Release/PublishOutputs.d3b86b18b7.txt
obj/Release/ref/RestoreLastSupriseMod.dll
obj/Release/refint/RestoreLastSupriseMod.dll
obj/Release/RestoreLastSupriseMod.AssemblyInfo.cs
obj/Release/RestoreLastSupriseMod.AssemblyInfoInputs.cache
obj/Release/RestoreLastSupriseMod.assets.cache
obj/Release/RestoreLastSupriseMod.csproj.AssemblyReference.cache
obj/Release/RestoreLastSupriseMod.csproj.CopyComplete
obj/Release/RestoreLastSupriseMod.csproj.CoreCompileInputs.cache
obj/Release/RestoreLastSupriseMod.csproj.FileListAbsolute.txt
obj/Release/RestoreLastSupriseMod.dll
obj/Release/RestoreLastSupriseMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/RestoreLastSupriseMod.GlobalUsings.g.cs
obj/Release/RestoreLastSupriseMod.pdb
obj/RestoreLastSupriseMod.csproj.nuget.dgspec.json
obj/RestoreLastSupriseMod.csproj.nuget.g.props
obj/RestoreLastSupriseMod.csproj.nuget.g.targets
Publish/Builds/CurrentVersion/ModConfig.json
Publish/Builds/CurrentVersion/Preview.png
Publish/Builds/CurrentVersion/Reloaded.Hooks.Definitions.dll
Publish/Builds/CurrentVersion/Reloaded.Hooks.ReloadedII.Interfaces.dll
Publish/Builds/CurrentVersion/Reloaded.Memory.dll
Publish/Builds/CurrentVersion/Reloaded.Memory.Sigscan.Definitions.dll
Publish/Builds/CurrentVersion/Reloaded.Memory.Sigscan.dll
Publish/Builds/CurrentVersion/Reloaded.Memory.SigScan.ReloadedII.Interfaces.dll
Publish/Builds/CurrentVersion/RestoreLastSupriseMod.deps.json
Publish/Builds/CurrentVersion/RestoreLastSupriseMod.dll
Publish/Builds/Restore Last Surpise/ModConfig.json
Publish/Builds/Restore Last Surpise/Preview.png
Publish/Builds/Restore Last Surpise/Reloaded.Hooks.Definitions.dll
Publish/Builds/Restore Last Surpise/Reloaded.Hooks.ReloadedII.Interfaces.dll
Publish/Builds/Restore Last Surpise/Reloaded.Memory.dll
Publish/Builds/Restore Last Surpise/Reloaded.Memory.Sigscan.Definitions.dll
Publish/Builds/Restore Last Surpise/Reloaded.Memory.Sigscan.dll
Publish/Builds/Restore Last Surpise/Reloaded.Memory.SigScan.ReloadedII.Interfaces.dll
Publish/Builds/Restore Last Surpise/RestoreLastSupriseMod.deps.json
Publish/Builds/Restore Last Surpise/RestoreLastSupriseMod.dll
Publish/Tools/Reloaded-Tools/7z.dll
Publish/Tools/Reloaded-Tools/7z64.dll
Publish/Tools/Reloaded-Tools/e_sqlite3.dll
Publish/Tools/Reloaded-Tools/NugetConverter.exe
Publish/Tools/Reloaded-Tools/Reloaded.Community.Tool.exe
Publish/Tools/Reloaded-Tools/Reloaded.Publisher.exe
Publish/ToUpload/GameBanana/RestoreLastSupriseMod.ReleaseMetadata.json
Publish/ToUpload/GameBanana/restorelastsuprisemod1_0_0.7z
Publish/ToUpload/Generic/RestoreLastSupriseMod.ReleaseMetadata.json.br
Publish/ToUpload/Generic/RestoreLastSupriseMod1.0.0.7z
Publish/ToUpload/NuGet/RestoreLastSupriseMod.ReleaseMetadata.json.br
Publish/ToUpload/NuGet/RestoreLastSupriseMod1.0.0.nupkg
Publish.ps1
